In [2]:
a=10
b=20
c=a/b
d=a*b
print(c)
print(d)

0.5
200

In [12]:
43//8

5

In [1]:
#shortcuts:(A,B)
#identifiers
#keyword
#operators
    #1. Arithmetic : =,-,*,/,**,//,%%
    #2. Relational: ==,!=,>,<,<=,>=
    #3. Assignment : =,+=,-=,*=
    #4. logical: and,or,not (works on only boolean data)
    #5. Membership: in, not in
    #6. Bitwise:&,|,~,<<,>>(left shift multiply krta hai and right shift divide krta hai)
    #7. identity : is , is not
#Data types/ data classes
    # numeric : int , float, complex  
    #sequences: 
                #str:immutable collection of characters ''""  ''' '''
                #list:mutable & unstructured collection of heterogeneous elements []
                #tuple:immutable and unstructured collection of heterogeneous elements ()
               # (here in python instead of constant and variable we use mutable and immutable) 
               # Mapping:
               #() dict: mutable & structured cell of key-value pairs 
               #set:
               #{} set: unordered cell of unique elements 
               #Boolean:
               #bool: True False
               #Empty data:
               #Empty data:
               #none type:None
        #Data Operations:(collections) 
            #1.Item accessing(indexing/slicing/subscripting)
            #2. Item insertion
            #3. item assignment (possible with mutable only)
            #4. item deletion (possible with mutable only)
# data type built in functions
    #str: upper,lower,find,split,strip,join,format,count
    #list: append,sort,count,copy,insert,remove,index,pop
    #tuple:count,index
    #dict: keys,values,update,get,pop
    #set:add,difference,union,pop,remove

In [22]:

# class list ban gayi only by writing list
list('hello')

['h', 'e', 'l', 'l', 'o']

In [20]:
t=[4,6,'hi','go',3.5,5+3j,{3+8}]
print(t)
type(t)
len(t)

[4, 6, 'hi', 'go', 3.5, (5+3j), {11}]

7

In [21]:
type(t)

list

In [18]:
a=3+4j
type(a)

complex

In [17]:
#13*2**3
13<<3

104

In [14]:
bin(13)

'0b1101'

In [15]:
bin(6)

'0b110'

In [16]:
print(13&6)

4

In [ ]:
13<<3

In [13]:
'8' not in'late  night 8ght'

False

In [2]:
from keyword import kwlist
kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [3]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [5]:
p = print('hi')

hi

In [6]:
print(p)

None

In [7]:
a=35

In [8]:
print(a)

35

In [9]:
#keyword delete
del a

In [10]:
print(a)

NameError: name 'a' is not defined

In [25]:
s='a sample python statement'
s

'a sample python statement'

In [26]:
len(s)

25

In [27]:
s[4]

'm'

In [29]:
s[len(s)-1]

't'

In [30]:
s[-1]

't'

In [31]:
#slicing [start:stop(not included):step size)]
######### s[0:end:+!](by default)
######### s[end:0:negative]
s[2:8:1]

'a sample'

In [32]:
s[:8]

'a sample'

In [33]:
s[-9:]

'statement'

In [39]:
s[14:8:-1]

'nohtyp'

In [40]:
s[-11:-17:-1]

'nohtyp'

In [41]:
s[-1:-10:-1]

'tnemetats'

In [42]:
s[::-1]

'tnemetats nohtyp elpmas a'

In [43]:
type(t)

list

In [44]:
t[:3]

[4, 6, 'hi']

In [46]:
#nested indexing which is possible in python
t[2][0]

'h'

In [48]:
p=[45,[[[[['1','01'],9],34]]]]

In [49]:
p[-1][0][0][0][0][-1][0]

'0'

In [50]:
#dictionary
d={'a':34,'b':45,'c':[3,4,5,6,7]}

In [51]:
d['c'][2]

5

In [52]:
d1=[{'a':34},66,{'66':[{'00':[98,'hi']},'awesome',{'m':'n'}]}]

In [54]:
d1[1]

66

In [56]:
d1[2]['66'][1][1]

'w'

In [1]:

s='468hi3.4'
a=[4,6,8,'hi',3.4]
b=(4,6,8,'hi',3.4)
c={4:6,8:['hi',3.4]}
d={4,6,8,'hi',3.4}

In [2]:
type(s),type(a),type(b),type(c),type(d)

(str, list, tuple, dict, set)

In [3]:
len(s),len(a),len(b),len(c),len(d)

(8, 5, 5, 2, 5)

In [4]:
#concatenation
'hi'+'hello'

'hihello'

In [5]:
#concattenation in listt and tuple
[4,5]+[3,6]

[4, 5, 3, 6]

In [6]:
(4,5)+(3,6)

(4, 5, 3, 6)

In [ ]:
#concatenation in dictionary and set is not possible
#{4:5}+{3:6} (dictionary)

In [7]:
'hi'*3

'hihihi'

In [ ]:
#list and tuple can be multiplied by integer

In [8]:
# use of += operator
s+='k'

In [9]:
print(s)

468hi3.4k

In [11]:
s=s[:3]+ 'Anything you want to add' +s[3:]
s

'468Anything you want to addAnything you wand to addhi3.4k'

In [15]:
a+=['bye']
a

[4, 6, 8, 'hi', 3.4, 'b', 'y', 'b', 'y', 'bye']

In [16]:
a=a[:2]+[39]+a[2:]
a

[4, 6, 39, 8, 'hi', 3.4, 'b', 'y', 'b', 'y', 'bye']

In [20]:
b+=('bye',)
b

(4, 6, 8, 'hi', 3.4, 'bye')

In [26]:
b=b[:2]+(39,)+b[2:]
b

(4, 6, 39, 8, 'hi', 3.4, 'bye')

In [27]:
a+a

[4,
 6,
 39,
 8,
 'hi',
 3.4,
 'b',
 'y',
 'b',
 'y',
 'bye',
 4,
 6,
 39,
 8,
 'hi',
 3.4,
 'b',
 'y',
 'b',
 'y',
 'bye']

In [28]:
b+b

(4, 6, 39, 8, 'hi', 3.4, 'bye', 4, 6, 39, 8, 'hi', 3.4, 'bye')

In [29]:
a+b

TypeError: can only concatenate list (not "tuple") to list

In [30]:
# *is used to change every built in data type to tuple
(*a,*b,*s)

(4,
 6,
 39,
 8,
 'hi',
 3.4,
 'b',
 'y',
 'b',
 'y',
 'bye',
 4,
 6,
 39,
 8,
 'hi',
 3.4,
 'bye',
 '4',
 '6',
 '8',
 'A',
 'n',
 'y',
 't',
 'h',
 'i',
 'n',
 'g',
 ' ',
 'y',
 'o',
 'u',
 ' ',
 'w',
 'a',
 'n',
 't',
 ' ',
 't',
 'o',
 ' ',
 'a',
 'd',
 'd',
 'A',
 'n',
 'y',
 't',
 'h',
 'i',
 'n',
 'g',
 ' ',
 'y',
 'o',
 'u',
 ' ',
 'w',
 'a',
 'n',
 'd',
 ' ',
 't',
 'o',
 ' ',
 'a',
 'd',
 'd',
 'h',
 'i',
 '3',
 '.',
 '4',
 'k')

In [ ]:
#args and kwargs   {special cases}

In [31]:
# how to do insertion in dzictionary
#c['type'] ='anyvalue'
c[99]=[86,'ekvalue']
c

{4: 6, 8: ['hi', 3.4], 99: [86, 'ekvalue']}

In [32]:
# shortcut in dictionary
c2={'a':45,'b':35}
print(c)
print(c2)

{4: 6, 8: ['hi', 3.4], 99: [86, 'ekvalue']}
{'a': 45, 'b': 35}

In [34]:
#concatenation in dictionary
{**c,**c2}

{4: 6, 8: ['hi', 3.4], 99: [86, 'ekvalue'], 'a': 45, 'b': 35}

In [35]:
#assignment and deletion
s[0]='A'  #string does not support item assignment string is immutable
s

TypeError: 'str' object does not support item assignment

In [36]:
a[0]='A'
a

['A', 6, 39, 8, 'hi', 3.4, 'b', 'y', 'b', 'y', 'bye']

In [37]:
c[4]=66
c

{4: 66, 8: ['hi', 3.4], 99: [86, 'ekvalue']}

In [38]:
b[0]='A'   #assignment not possible in tuple
b

TypeError: 'tuple' object does not support item assignment

In [ ]:
#item assignment
#s[0]='A'    not possible
#a[0]='A'      done
#b[0]='A'     not possible
#c[4]=66       done
#item deletion
# del s[0]      not possible
#del a[0]         done
#del b[0]      not possible
# del c[4]        done
#len() function does not work in nonetype
# anything non zero and non empty in bool type is true

In [39]:
bool('False')

True

In [41]:
bool('  ')

True

In [46]:
print(bool([]))
print(bool(()))
print(bool({}))
print (bool([()]))

False
False
False
True

In [2]:
a=34
b=34.5
c=34+5j
d='hello'
e=[3,4,5]
f=(3,4,5)
g={3:[4,5]}
h={3,4,5}

In [3]:
d.upper()

'HELLO'

In [5]:
d.find('el')

1

In [6]:
d.split('e')

['h', 'llo']

In [9]:
d.strip('oh')

'ell'

In [10]:
'start'.join('wars')

'wstartastartrstarts'

In [13]:
'-'.join('wars')
'#'.join ('hi this is a new string'.split())
'hi this is a new string'.replace('','#')
d.count('l')

2

In [18]:
#format specifier (not advisable to do)
x=20
y=30
z='ek aisa data jo %d to %d hai'%(x,y)
z

'ek aisa data jo 20 to 30 hai'

In [19]:
#using format function
z='ek aisa data jo {} to {} hai'
z=z.format(x,y)
z

'ek aisa data jo 20 to 30 hai'

In [21]:
z1='ek aisa data jo{0} to{1} hai lekin {0} hi kaafi hai'
z1=z1.format(x,y)
z1

'ek aisa data jo20 to30 hai lekin 20 hi kaafi hai'

In [23]:
#using f string
zf=f'ek aisa data jo {x} to{y} hai lekin {x} hi kaafi hai '
zf

'ek aisa data jo 20 to30 hai lekin 20 hi kaafi hai '

In [25]:
e.append(45)
e

[3, 4, 5, 45, 45]

In [26]:
# 1. no input and no output argument
#2. input argument but not output argument
#3. no inpt but output arguments are there
#4. both are there
#e=e.append(45)      (not possible will return an empty list e)
# sort works when there is homogeneity in data


#a. In-Place(self-update)
#b. Non in-place

In [27]:
e.insert(2,1000)
e

[3, 4, 1000, 5, 45, 45]

In [28]:
e.sort()
e

[3, 4, 5, 45, 45, 1000]

In [29]:
e.sort(reverse=True)
e

[1000, 45, 45, 5, 4, 3]

In [30]:
e1=['hi','wow','good','hey','yes','awesome']
e1.sort()
e1

['awesome', 'good', 'hey', 'hi', 'wow', 'yes']

In [31]:
e1.sort(key=len)
e1

['hi', 'hey', 'wow', 'yes', 'good', 'awesome']

In [32]:
e1.sort(key=len, reverse=True)
e1

['awesome', 'good', 'hey', 'wow', 'yes', 'hi']

In [33]:
f1=list(f)
f1.sort(reverse=True)
f1=tuple(f)
f1

(3, 4, 5)

In [35]:
tuple(sorted(f,reverse=True))

(5, 4, 3)

In [36]:
k=e.pop()

In [37]:
k

3

In [39]:
type(g.keys())

dict_keys

In [42]:
list(g.keys())[0]

3

In [41]:
g.keys()

dict_keys([3])

In [43]:
g.get('Z','Oh No')

'Oh No'

In [44]:
print(g.get('Z','33'))

33

In [45]:
e

[1000, 45, 45, 5, 4]

In [46]:
e4=e.copy( )
e4

[1000, 45, 45, 5, 4]

In [ ]:
#Deep copy vs Shallow copy

In [47]:
e4.append(8)
e4

[1000, 45, 45, 5, 4, 8]

In [48]:
e

[1000, 45, 45, 5, 4]